


.App {
  text-align: center;
  width: 100%;
  border: 1px yellow solid;
}

.header {
  display: flex;
  justify-content: space-between;
  background: blue;
  margin-bottom: 20px; 
}

.h1-header {
  margin-right: 20px;
}

.logo {
  margin-left: 20px;
}


ul {
  list-style: none;
}





